@import url('https://fonts.googleapis.com/css?family=Ysabeau+Infant');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Geist";
    src: url("../public/fonts/Geist/Geist-Black.otf");
    src: url("../public/fonts/Geist/Geist-Black.woff2");
    src: url("../public/fonts/Geist/Geist-Bold.otf");
    src: url("../public/fonts/Geist/Geist-Bold.woff2");
    src: url("../public/fonts/Geist/Geist-Light.otf");
    src: url("../public/fonts/Geist/Geist-Light.woff2");
    src: url("../public/fonts/Geist/Geist-Medium.otf");
    src: url("../public/fonts/Geist/Geist-Medium.woff2");
    src: url("../public/fonts/Geist/Geist-Regular.otf");
    src: url("../public/fonts/Geist/Geist-Regular.woff2");
    src: url("../public/fonts/Geist/Geist-SemiBold.otf");
    src: url("../public/fonts/Geist/Geist-SemiBold.woff2");
    src: url("../public/fonts/Geist/Geist-Thin.otf");
    src: url("../public/fonts/Geist/Geist-Thin.woff2");
    src: url("../public/fonts/Geist/Geist-UltraBlack.otf");
    src: url("../public/fonts/Geist/Geist-UltraBlack.woff2");
    src: url("../public/fonts/Geist/Geist-UltraLight.otf");
    src: url("../public/fonts/Geist/Geist-UltraLight.woff2");
    src: url("../public/fonts/Geist/GeistVariableVF.ttf");
    src: url("../public/fonts/Geist/GeistVariableVF.woff2");
  }